// Utilities
@import "./variables";

.list-group-item{
  border-radius: 0px !important;
  div{
    color: black;
  }
  .row{
    .col{
      border-left: 1px solid rgba(0,0,0,.125);
    }
  }
}


.list-group{
  border-top:1px solid rgba(0,0,0,.125);
  span { li{background: white; border-top:none;}}
  span:nth-child(odd) { li{background: rgba(0,0,0,0.03); }}

}

.pointer{
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.badge{
  width: 100%;
  height:100%;
  padding:5px !important;
  border-radius: 0px !important;
}
